// Add your own CSS here!

:root {
  --light: #FFF1EC;
  --dark: #523E38;
  --secondary: #DE6F63;
  --tertiary: #EE9B78;
  --visited: #D5938B;
  --primary: #B2B5E0;
  --gray: #4e4e4e;
  --lightgray: #F1DFD8;
  --outlinegray: #E8D0C7;
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #282524!important;
  --dark: #FFF1EC!important;
  --secondary: #DE6F63!important;
  --tertiary: #EE9B78!important;
  --visited: #D5938B!important;
  --primary: #B2B5E0!important;
  --gray: #FFF1EC !important;
  --lightgray: #393230 !important;
  --outlinegray: #6D544C !important;
}

